In [2]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.55-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.1.3)
Requirement already satisfied: requests>=2.31 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (4.3.6)
Collecting pytz>=2022.5 (from yfinance)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.6-cp310-cp310-win_amd64.whl.metadata (23 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.9.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
     --- ------------------------------------ 0.3/3.0 MB ? eta -:--:--
     ------ --------------------------------- 0.5/3.0 MB 1.5 MB/s eta 0:00:02
     ---------- ----------------------------- 0.8/3.0 MB 1.6 MB/s eta 0:00:02
     ---------- ----------------------------- 0.8/3.0 MB 1.6 MB/s eta 0:00:02
     ---------- ----------------------------- 0.8/3.0 MB 1.6 MB/s eta 0:00:02
     ------------- -------------------------- 1.0/3.0 MB 699.0 kB/s eta 0:00:03
     ------------- -------------------------- 1.0/3.0 MB 699.0 kB/s eta 0:00:03
     ------------- -------------------------- 1.0/3.0 MB 699.0 kB/s eta 0:00:03
     ------------- -------------------------- 1.0/3.0 MB 699.0 kB/s eta 0:00:03
     ------------- -------------------------- 1.0/3.0 MB 699.0 kB/s eta 0:00:03
     ------------- -------------------------- 1.0/3.0 MB 699.0 kB/s eta 0:00:03
     ------------- -------------------------- 1.0/3.0 MB 699.0 kB/s eta 0:00:03
     ----------------- ---------------------- 1.3/3.0 MB 416.8 kB/s eta 0:00:05
     ----------------- ---------------------- 1.3/3.0 MB 416.8 kB/s eta 0:00:05
     ----------------- ---------------------- 1.3/3.0 MB 416.8 kB/s eta 0:00:05
     ----------------- ---------------------- 1.3/3.0 MB 416.8 kB/s eta 0:00:05
     ----------------- ---------------------- 1.3/3.0 MB 416.8 kB/s eta 0:00:05
     -------------------- ------------------- 1.6/3.0 MB 358.5 kB/s eta 0:00:05
     -------------------- ------------------- 1.6/3.0 MB 358.5 kB/s eta 0:00:05
     -------------------- ------------------- 1.6/3.0 MB 358.5 kB/s eta 0:00:05
     ------------------------ --------------- 1.8/3.0 MB 375.7 kB/s eta 0:00:04
     ------------------------ --------------- 1.8/3.0 MB 375.7 kB/s eta 0:00:04
     --------------------------- ------------ 2.1/3.0 MB 399.4 kB/s eta 0:00:03
     --------------------------- ------------ 2.1/3.0 MB 399.4 kB/s eta 0:00:03
     ------------------------------- -------- 2.4/3.0 MB 411.7 kB/s eta 0:00:02
     ------------------------------- -------- 2.4/3.0 MB 411.7 kB/s eta 0:00:02
     ---------------------------------- ----- 2.6/3.0 MB 429.0 kB/s eta 0:00:01
     ---------------------------------- ----- 2.6/3.0 MB 429.0 kB/s eta 0:00:01
     ---------------------------------- ----- 2.6/3.0 MB 429.0 kB/s eta 0:00:01
     -------------------------------------- - 2.9/3.0 MB 425.8 kB/s eta 0:00:01
     -------------------------------------- - 2.9/3.0 MB 425.8 kB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 417.2 kB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from pandas>=1.3.0->yfinance) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (2.0.10)
Requirement already satisfied: idna<4,>=2.5 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (3.3)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (1.26.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.31->yfinance) (2021.10.8)
Requirement already satisfied: six>=1.5 in c:\users\key\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)
Downloading yfinance-0.2.55-py2.py3-none-any.whl (109 kB)
Downloading frozendict-2.4.6-cp310-cp310-win_amd64.whl (37 kB)
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.9-py3-none-any.whl size=139127 sha256=81ab24a97bc95226cfe3180f34a29e27750ab607184a16d5e5578737430a1deb
  Stored in directory: c:\users\key\appdata\local\pip\cache\wheels\fd\fd\5e\90b9ec95da4fd6c96237b580ce74f89d6bdea547ad151ab5f4
Successfully built peewee
Installing collected packages: pytz, peewee, multitasking, frozendict, yfinance
  Attempting uninstall: pytz
    Found existing installation: pytz 2021.3
    Uninstalling pytz-2021.3:
      Successfully uninstalled pytz-2021.3
Successfully installed frozendict-2.4.6 multitasking-0.0.11 peewee-3.17.9 pytz-2025.2 yfinance-0.2.55

In [3]:
import yfinance as yf

In [10]:
#yf.download(対象の銘柄, 期間, 頻度)

ticker="AMZN" #amazon
data = yf.download(ticker, period="6mo", interval="1d")
data

*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AMZN        AMZN        AMZN        AMZN       AMZN
Date
2024-10-07  180.800003  183.600006  180.250000  182.949997   42364200
2024-10-08  182.720001  183.089996  180.919998  181.919998   26372100
2024-10-09  185.169998  185.850006  182.050003  182.820007   26343100
2024-10-10  186.649994  188.130005  185.830002  187.130005   27785000
2024-10-11  188.820007  189.929993  186.300003  186.630005   25751600
...                ...         ...         ...         ...        ...
2025-03-31  190.259995  191.330002  184.399994  188.190002   63547600
2025-04-01  192.169998  193.929993  187.199997  187.860001   41267300
2025-04-02  196.009995  198.339996  187.660004  187.660004   53679200
2025-04-03  178.410004  184.130005  176.919998  183.000000   95553600
2025-04-04  171.000000  178.139999  166.000000  167.149994  122951300

[124 rows x 5 columns]

In [11]:
ticker="4755.T" #RAKUTEN
data = yf.download(ticker, period="6mo", interval="1d")
data

*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker          4755.T      4755.T      4755.T      4755.T    4755.T
Date
2024-10-04  913.000000  918.900024  906.299988  910.000000  18571400
2024-10-07  923.500000  927.700012  916.200012  922.500000  16778000
2024-10-08  913.299988  921.799988  904.400024  913.299988  19184600
2024-10-09  920.900024  939.700012  917.500000  923.000000  21175300
2024-10-10  946.500000  950.400024  923.000000  927.000000  23471000
...                ...         ...         ...         ...       ...
2025-03-31  851.299988  872.500000  847.700012  868.200012  22917600
2025-04-01  845.000000  862.799988  842.700012  860.000000  15429100
2025-04-02  829.900024  850.000000  815.099976  845.000000  21406200
2025-04-03  821.799988  823.200012  798.900024  798.900024  19946800
2025-04-04  795.599976  818.900024  773.400024  809.500000  27273300

[121 rows x 5 columns]

In [12]:
ticker=["AMZN","4755.T"] 

data = yf.download(ticker, period="6mo", interval="1d")
data

*********************100%***********************]  2 of 2 completed

Price            Close                    High                     Low  \
Ticker          4755.T        AMZN      4755.T        AMZN      4755.T
Date
2024-10-04  913.000000         NaN  918.900024         NaN  906.299988
2024-10-07  923.500000  180.800003  927.700012  183.600006  916.200012
2024-10-08  913.299988  182.720001  921.799988  183.089996  904.400024
2024-10-09  920.900024  185.169998  939.700012  185.850006  917.500000
2024-10-10  946.500000  186.649994  950.400024  188.130005  923.000000
...                ...         ...         ...         ...         ...
2025-03-31  851.299988  190.259995  872.500000  191.330002  847.700012
2025-04-01  845.000000  192.169998  862.799988  193.929993  842.700012
2025-04-02  829.900024  196.009995  850.000000  198.339996  815.099976
2025-04-03  821.799988  178.410004  823.200012  184.130005  798.900024
2025-04-04  795.599976  171.000000  818.900024  178.139999  773.400024

Price                         Open                  Volume
Ticker            AMZN      4755.T        AMZN      4755.T         AMZN
Date
2024-10-04         NaN  910.000000         NaN  18571400.0          NaN
2024-10-07  180.250000  922.500000  182.949997  16778000.0   42364200.0
2024-10-08  180.919998  913.299988  181.919998  19184600.0   26372100.0
2024-10-09  182.050003  923.000000  182.820007  21175300.0   26343100.0
2024-10-10  185.830002  927.000000  187.130005  23471000.0   27785000.0
...                ...         ...         ...         ...          ...
2025-03-31  184.399994  868.200012  188.190002  22917600.0   63547600.0
2025-04-01  187.199997  860.000000  187.860001  15429100.0   41267300.0
2025-04-02  187.660004  845.000000  187.660004  21406200.0   53679200.0
2025-04-03  176.919998  798.900024  183.000000  19946800.0   95553600.0
2025-04-04  166.000000  809.500000  167.149994  27273300.0  122951300.0

[130 rows x 10 columns]

In [13]:
ticker="AMZN" #amazon

data = yf.download(ticker, start="2023-06-01",end="2023-07-01", interval="1d")
data

*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open    Volume
Ticker            AMZN        AMZN        AMZN        AMZN      AMZN
Date
2023-06-01  122.769997  123.489998  119.930000  120.690002  54375100
2023-06-02  124.250000  126.389999  124.019997  124.919998  61215000
2023-06-05  125.300003  125.800003  123.029999  123.360001  47950100
2023-06-06  126.610001  127.400002  125.000000  125.070000  45695200
2023-06-07  121.230003  127.370003  120.629997  127.010002  95663300
2023-06-08  124.250000  125.629997  122.260002  123.010002  62159300
2023-06-09  123.430000  125.800003  123.190002  124.080002  51330000
2023-06-12  126.570000  126.779999  123.529999  124.019997  51338000
2023-06-13  126.660004  128.410004  125.180000  128.119995  50564800
2023-06-14  126.419998  126.949997  124.120003  126.699997  52422500
2023-06-15  127.110001  127.690002  124.320000  125.209999  60458500
2023-06-16  125.489998  127.900002  125.300003  127.709999  84188100
2023-06-20  125.779999  127.250000  124.500000  124.970001  56930100
2023-06-21  124.830002  126.730003  123.849998  125.639999  52137700
2023-06-22  130.149994  130.330002  125.139999  125.309998  90354600
2023-06-23  129.330002  130.839996  128.279999  129.110001  71855200
2023-06-26  127.330002  131.490005  127.099998  129.330002  59989300
2023-06-27  129.179993  130.089996  127.550003  128.630005  46801000
2023-06-28  129.039993  131.479996  128.440002  128.940002  52149500
2023-06-29  127.900002  129.259995  127.260002  128.770004  40761000
2023-06-30  130.360001  131.250000  128.949997  129.470001  54310500

In [16]:
ticker="AMZN" #amazon

data = yf.download(ticker, period="1y", interval="1d")
data

*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AMZN        AMZN        AMZN        AMZN       AMZN
Date
2024-04-05  185.070007  186.270004  181.970001  182.380005   42335200
2024-04-08  185.190002  187.289993  184.809998  186.899994   39221300
2024-04-09  185.669998  187.339996  184.199997  187.240005   36546900
2024-04-10  185.949997  186.270004  182.669998  182.770004   35879200
2024-04-11  189.050003  189.770004  185.509995  186.740005   40020700
...                ...         ...         ...         ...        ...
2025-03-31  190.259995  191.330002  184.399994  188.190002   63547600
2025-04-01  192.169998  193.929993  187.199997  187.860001   41267300
2025-04-02  196.009995  198.339996  187.660004  187.660004   53679200
2025-04-03  178.410004  184.130005  176.919998  183.000000   95553600
2025-04-04  171.000000  178.139999  166.000000  167.149994  122951300

[251 rows x 5 columns]

In [17]:
ticker="9501.T"
data = yf.download(ticker, interval="1d")
data

*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open    Volume
Ticker           9501.T       9501.T       9501.T       9501.T    9501.T
Date
2000-01-04  2323.648926  2323.648926  2184.229990  2246.193962   1690900
2000-01-05  2246.194336  2269.430829  2195.848601  2246.194336   2991200
2000-01-06  2211.339355  2242.321343  2191.975613  2234.575846   1621300
2000-01-07  2199.721436  2246.194424  2199.721436  2215.212432   1113700
2000-01-10  2199.721436  2199.721436  2199.721436  2199.721436         0
...                 ...          ...          ...          ...       ...
2025-03-31   429.700012   437.700012   426.299988   435.799988  29627300
2025-04-01   432.299988   442.100006   431.000000   431.600006  28070500
2025-04-02   410.500000   430.799988   408.299988   429.299988  39929900
2025-04-03   414.899994   416.000000   391.399994   392.200012  41110900
2025-04-04   406.500000   419.500000   400.899994   406.899994  35484100

[6309 rows x 5 columns]